* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.nav {
  background-color: #1c3f95;
  color: #fdfdfd;
  overflow: hidden;
}

.nav a {
  float:center;
  text-align:center;
  padding:30px 30px;
  font-size: 20px;
}

.nav a:hover {
  background-color: #a9a9f5;
  color: #fdfdfd;
}
